{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet"
 href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Site Seguro</h1>
<div>
    <a href="/jogos/home">Home</a>
    <a href="/jogos/seguranca">seguranca</a>
    | Você é {% firstof user.username "visitante" %}
    {% if not user.is_authenticated %}
    | <a href="{% url 'jogos:register' %}">Registrar</a>
    {% endif %}
    | Você é {% firstof user.username "visitante" %}
</div>
<hr>
{% block content %}{% endblock %}
</body>
</html>