<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Apaga Jogo</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	</head>
	<body>
		<h1>Remoção de jogo</h1>
		<form method="post">
			{% csrf_token %}
			Confirma a remoção de {{ jogo }}?<br>
			<button>
				<a href="{% url 'jogos:lista-jogos' %}"
				style="text-decoration: none; color: black;">Cancela</a>
			</button>
			<input type="submit" value="Remove">
		</form>
	</body>
</html>
