{% extends 'seguranca/base.html' %}
{% block title %}Senha Atualizada{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="card bg-dark text-light shadow-lg p-4" style="width: 28rem;">
    <div class="card-body text-center">
      <h2 class="card-title mb-3">Troca de Senha</h2>

      <div class="alert alert-success" role="alert">
        ✅ Senha trocada com sucesso!
      </div>

      <a href="{% url 'jogos:home-jogos' %}" class="btn btn-primary mt-3 w-100">
        Voltar à Home
      </a>
    </div>
  </div>
</div>
{% endblock %}
